name: build runtime container
on:
  workflow_dispatch:

jobs:
  build-runtime-container:
    uses: ./.github/workflows/build.yaml
    with:
      container_name: runtime
    secrets: inherit
    permissions:
      packages: write
      contents: read
      id-token: write
      attestations: write
