name: build codespaces container
on:
  workflow_dispatch:

jobs:
  build-codespaces-container:
    uses: ./.github/workflows/build.yaml
    with:
      container_name: codespaces
    secrets: inherit
    permissions:
      packages: write
      contents: read
      id-token: write
      attestations: write
