name: build pipeline container
on:
  workflow_dispatch:

jobs:
  build-pipeline-container:
    uses: ./.github/workflows/build.yaml
    with:
      container_name: pipeline
    secrets: inherit
    permissions:
      packages: write
      contents: read
      id-token: write
      attestations: write
